html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size:13px!important;
}


/***********************************************/
.oee-header{
    background-color:cornflowerblue;
}

.weldcom-logo {
    width: 45px;
    height: 45px;
}

.pcoded-navbar {
    /*width:auto!important;*/
}

.card-machineinfo{
    height:200px;
}
.wcom-table-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.card-machineinfo .machineinfor-data {
}

.form-group .control-caption {
    top: -20px;
    font-size: 0.75rem;
    color: #4680ff;
}

.block-status {
    width: 45px;
    height: 32px;
    line-height: 32px;
    display: inline-block!important;
    text-align: center;
    border: 1px solid #e2e5e8;
    border-radius: 3px;
}
.machine-avatar-container {
    width: 600px;
    max-height: 180px;
    max-width: 600px;
    display: flex;
}
/***** Customize theme *************************************/
/**** thay đổi độ rộng thanh menu trái từ 230 sang 300 */
/*.pcoded-navbar.menu-light {
    width: 300px !important;*/ /* độ rộng menu trái = 300px (cũ là 230)*/
/*}
.pcoded-navbar.navbar-collapsed {
    width: 70px !important; Fix độ rộng cố định menu khi thu vào
}
.pcoded-header .m-header {
    width: 300px !important;*//* thanh icon searh trên đầu menu*/
/*}
.pcoded-header .m-header {
    width: 300px !important;
}
.pcoded-navbar {
    width: 300px !important;
}
    .pcoded-navbar .header-logo {
        width: 300px !important;
    }*/






.tab6 .nav-item {
    width: calc(100% / 6) !important;
}

.tab6 .slide {
    width: calc(100% / 6) !important;
}


.tabname-icon {
    padding-right: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}