@using WDI.OEE.Models;
@model WDI.OEE.Models.MachineRuningStatusViewModel
@{

}
<div class="col-sm-6">
    <!-- [card1] start-->
    <div class="card">
        <div class="card-boby">
            <div class="card card-machineinfo" name="errormachine-info">
                <label>Trong thẻ</label>
                @Model.MachineName
            </div>
        </div>
    </div>
    <!-- [card1] end-->
</div>