@model List<Common.ViewModels.MachineRuningStatusViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div style="padding-left: 0px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-caption" >Nhóm máy</label>
                            @Html.DropDownList("MachineGroupID", (List<SelectListItem>)ViewData["ListMachineGroup"], htmlAttributes: new { @class = "form-select form-select-sm mt-3"})
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-caption" >Vị trí</label>
                            @Html.DropDownList("MachineLocationID", (List<SelectListItem>)ViewData["ListMachineLocation"], htmlAttributes: new { @class = "form-select form-select-sm mt-3"})
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-caption" >Máy</label>
                            @Html.DropDownList("MachineID", (List<SelectListItem>)ViewData["ListMachine"], htmlAttributes: new { @class = "form-select form-select-sm mt-3", @onchange = "filterDataDetail()" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divlistMachineRunningStatusDetail" class="row">
    @if (Model != null && Model.Count>0)
    {
        @Html.Partial("_MachineSingle.cshtml", Model?[0]);
    }
</div>

<script>
    function filterDataDetail() {
        var _MachineID = $("#MachineID").val();
        var _MachineGroup = $("#MachineGroupID").val();
        var _MachineLocation = $("#MachineLocationID").val();
        $.ajax({
            url: "/ReportMachineRuningStatus/FilterDataDetail",
            method: "POST",
            dataType: "json",
            data: { MachineID: _MachineID, MachineGroupID: _MachineGroup, MachineLocationID: _MachineLocation },
            async: true,
            beforeSend: function () { },
            success: function (result) {
                debugger;
                if (result && result.success === true) {
                    $("#divlistMachineRunningStatusDetail").html(result.html);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>