@model Common.Data_Machine


<style>
    .latest-update-card .card-block .latest-update-box .update-meta .update-icon {
        margin-left:0px!important;
    }
</style>
<div class="card latest-update-card">
    <div class="card-header">
        <div class="card-header-right">
        </div>
    </div>
    <div class="card-block">
        <div class="latest-update-box">
            <!-- [Checklist] start item -->
            <div class="row p-b-30">
                <div class="col-auto text-right update-meta">
                    <!--p class="text-muted m-b-0 d-inline">#</p-->
                    @* <i class="bg-simple-c-yellow  update-icon"></i> *@
                </div>
                <div class="col">
                    <h6 class="font-weight-bold">Hạng mục</h6>
                </div>
                <div class="col">
                    <h6 class="font-weight-bold">Thời gian thực hiện</h6>
                </div>
                <div class="col">
                    <h6 class="font-weight-bold">Tần suất thực hiện</h6>
                </div>
            </div>
            <!-- [Checklist item] end -->
            <div id="checklistcontent"></div>
             
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        debugger;
        var machineID = @Html.Raw(Json.Serialize(Model.MachineID));
        getListMaintenanceChecklist(machineID);
    });

    function getListMaintenanceChecklist(machineID) {
        $.ajax({
            url: '@Url.Action("GetListMaintenanceChecklist", "MachineManagement")' + '?machineID=' + machineID,
            method: "GET",
            dataType: "json",
            async: true,
            beforeSend: function () { },
            success: function (result) {
                debugger;
                if (result) {
                    var _html = '';

                    result.forEach((cklistItem) => {
                    _html = _html +
                                '\
                                <!-- [Checklist] start item -->\
                                <div class="row p-b-30">\
                                    <div class="col-auto text-right update-meta">\
                                        <!--p class="text-muted m-b-0 d-inline">Mục kiểm tra</p-->\
                                        <i class="feather icon-check bg-info update-icon"></i>\
                                    </div>\
                                    <div class="col">\
                                        <h6>'+cklistItem.content+'</h6>\
                                        <p class="text-muted m-b-0">'+cklistItem.note+'</p>\
                                    </div>\
                                    <div class="col">\
                                        <h6>'+ cklistItem.timeFinish + ' (phút) </h6>\
                                    </div>\
                                    <div class="col">\
                                        <h6>'+cklistItem.intervalName+'</h6>\
                                    </div>\
                                </div>\
                                <!-- [Checklist item] end -->\
                                ';
                    });

                    $('#checklistcontent').html(_html);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>