@using Repository.Entity
@model List<Data_Menu>

@* <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
    <li class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style1" subitem-icon="style1">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="feather icon-list"></i></span>
            <span class="pcoded-mtext">Menu Levels (component)</span>
        </a>
        <ul class="pcoded-submenu">
            <li class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style1" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-mtext">Menu Level 2.2</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="pcoded-trigger">
                        <a href="javascript:void(0)">
                            <span class="pcoded-mtext">Menu Level 3.1</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul> *@

@foreach(var menu in Model)
{
    <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
        <li class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style1" subitem-icon="style1">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                <span class="pcoded-mtext">@menu.Name</span>
            </a>
            @if (menu.ChildMenus.Count > 0)
            {
                foreach (var menuL2 in menu.ChildMenus)
                {
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style1" subitem-icon="style1">
                            <a href="javascript:void(0)">
                                <span class="pcoded-mtext">@menuL2.Name</span>
                            </a>
                            @if (menuL2.ChildMenus.Count > 0)
                            {
                                foreach (var menuL3 in menuL2.ChildMenus)
                                {
                                    <ul class="pcoded-submenu">
                                        <li class="pcoded-trigger">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-mtext">@menuL3.Name</span>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }
                        </li>
                    </ul>
                }
            }
        </li>
    </ul>
}